 body {
            background-color: #003b5c;
            color: white;
            font-family: Arial, sans-serif;
        }

        .logo {
            max-width: 120px;
        }

        .navbar {
            background-color: #ffffff;
            padding: 1rem;
        }

        .navbar-brand, .nav-link {
            color: #013d7d !important;
            font-weight: bold;
        }

        .navbar-nav .nav-item .nav-link:hover {
            color: #28a745 !important;
        }

        .btn-generic {
            background-color: #003b5c;
            border-color: #003b5c;
            font-weight: bold;
            color: white;
        }

        .btn-generic:hover {
            background-color: #002b46;
            color: white;
        }

        .btn-primary {
            background-color: #ffc107;
            border-color: #ffc107;
            font-weight: bold;
        }

        .btn-primary:hover {
            background-color: #e0a800;
        }

        .btn-secundary {
            background-color: #01c61c;
            border-color: #00a02b;
            font-weight: bold;
            color: white;
        }

        .btn-secundary:hover {
            background-color: #01a417;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .pagination {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .page-item {
            margin: 0 5px;
        }

        .page-link {
            border: none;
            padding: 8px 12px;
            color: #007bff;
            background-color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        .page-item.active .page-link {
            background-color: #007bff;
            color: white;
            font-weight: bold;
        }

        .page-item.disabled .page-link {
            pointer-events: none;
            opacity: 0.5;
        }

        .table-container {
            max-height: 400px;
            overflow-y: auto;
        }

        .footer {
            background-color: #003b5c;
            color: white;
            text-align: center;
            padding: 15px 0;
            position: fixed;
            width: 90%;
            bottom: 0;
        }