<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini SPC - Lista de Clientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/customers.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
<!-- Barra de navegação -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/spc-brasil-logo.png" alt="SPC Brasil" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/customers">Clientes</a></li>
                <li class="nav-item"><a class="nav-link" href="/companies">Empresas</a></li>
                <li class="nav-item"><a class="nav-link" href="/debts">Dívidas</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Conteúdo principal -->
<div class="container mt-4">
    <h2 class="mb-4">Clientes Cadastrados</h2>

    <form action="/customers/details" method="get" class="mb-3">
        <input type="text" name="cpf" placeholder="Digite o CPF do Cliente" class="form-control w-50 d-inline">
        <button type="submit" class="btn btn-primary">Buscar</button>
        <a th:href="@{/customers/register}" class="btn btn-success ms-2">
            <i class="bi bi-person-plus fs-5"></i>
        </a>
    </form>

    <div class="table-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nome</th>
                <th>CPF/CNPJ</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.cpf}"></td>
                <td th:text="${customer.status}"></td>
                <td>
                    <a th:href="@{/customers/details(cpf=${customer.cpf})}" class="btn btn-generic">
                        <i class="bi bi-info-circle"></i>
                    </a>
                    <a th:href="@{/customers/delete/{customerId}(customerId=${customer.id})}" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a th:href="@{/customers/update/{customerId}(customerId=${customer.id})}" class="btn btn-warning">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a th:href="@{/debits/create/{customerId}(customerId=${customer.id})}" class="btn btn-generic">
                        <i class="bi bi-plus-circle"></i> Dívida
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginação -->
    <nav>
        <ul class="pagination">
            <!-- Botão de Primeira Página -->
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/customers/view?page=0}">«</a>
            </li>

            <!-- Botão de Página Anterior -->
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/customers/view?page={prev}(prev=${currentPage - 1})}">‹</a>
            </li>

            <!-- Números das Páginas -->
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/customers/view?page={i}(i=${i})}" th:text="${i + 1}"></a>
            </li>

            <!-- Botão de Próxima Página -->
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/customers/view?page={next}(next=${currentPage + 1})}">›</a>
            </li>

            <!-- Botão de Última Página -->
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/customers/view?page={last}(last=${totalPages - 1})}">»</a>
            </li>
        </ul>
    </nav>

    <!-- Rodapé -->
    <div class="footer">
        <p>&copy; 2025 Mini SPC. Todos os direitos reservados.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
